appdirs==1.4.4
astpath==0.9.0
autopep8==1.5.4
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
Deprecated==1.2.10
distlib==0.3.1
filelock==3.0.12
idna==2.10
pyan==1.0.4.dev2+gb6cd0c6
pycodestyle==2.6.0
pydeps==1.9.9
PyGithub==1.53
PyJWT==1.7.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
stdlib-list==0.7.0
toml==0.10.1
urllib3==1.25.11
virtualenv==20.0.35
wrapt==1.12.1
